@font-face {
  font-family: 'Ano';
  src: url('../../fonts/anoregular-regular-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Ano';
  src: url('../../fonts/anobold-regular-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Ano';
  src: url('../../fonts/anoblack-regular-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}