body{
  letter-spacing: 1.44px;
}

h3{
  text-transform: uppercase;
}

p{
  font-size: 14px;
}


//HEADER ---------------------------------------

.nm-top-bar {
  display: block;
}

.nm-menu li a {
  font-size: 12px;
  letter-spacing: 1.6px;
  color: #000;
  text-transform: uppercase;
}

.nm-menu-cart-title{
  margin-right: 25px;
}

.cd-header-bag{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;

  img{
    position: absolute;
    height: 40px;
    width: auto;
    top: 0;
    right: 0;
  }

  .nm-menu-cart-count{
    position: relative;
    top: 3px !important;
    right: 2px;
    font-size: 12px;
    background: white;
  }
}

@media (max-width: 880px) {

  .nm-header-col{
    display: flex;
    justify-content: center;
  }

  .nm-menu li.nm-menu-offscreen{
    position: absolute;
    top: 0;
    bottom: 0;
    /* height: 39px; */
    margin: auto;
    left: 16px;
  }

  .nm-right-menu ul li.nm-menu-cart{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 40px;
    margin: auto;
    right: 10px;
  }
}

.mobile-menu-open #nm-mobile-menu{
  top: 38px;
}

@media (max-width: 550px) {
  .header-mobile-default .nm-menu-cart.no-icon .count:after, .header-mobile-default .nm-menu-cart.no-icon .count:before {
    display: none;
  }
}


//HOME ------------------------------

.cd-home-swiper-card{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 47vw;
  max-height: calc(100vh - 112px);
}

.cd-home-swiper-section{
  display: flex;
}

.cd-home-swiper{
  width: 33.3%;

  a{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
  }
}

.cd-home-products{
  padding-top: 90px;
  padding-bottom: 90px;

  h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
  }
}

.cd-home-left-link{
  font-size: 20px;
  border: 1px solid;
  padding: 10px 40px;
  background: white;
  position: absolute;
  bottom: 50px;
  left: -20px;
}

.cd-home-right-link{
  font-size: 20px;
  border: 1px solid;
  padding: 10px 40px;
  background: white;
  position: absolute;
  bottom: 50px;
  right: -20px;
}


@media (max-width: 600px) {

  .cd-home-swiper{
    width: 50%;
  }
  .cd-home-swiper-middle{
    display: none;
  }

  .cd-home-swiper-card{
    height: 63vw;
  }

  .nm-top-bar {
    z-index: 10000;
  }

  .cd-home-right-link{
    font-size: 20px;
    border: 1px solid;
    padding: 10px 40px;
    background: white;
    position: absolute;
    bottom: 50px;
    right: -20px;
  }

  .cd-home-left-link{
    left: 20px;
  }
}



//PRODUCT ------------------------------------------


.cd-tabs .tabs{
  text-align: left;

  li{

    a{
      font-size: 10px;
      color: #666;
      margin: 0 14px 0 0;
      text-transform: uppercase;
    }
  }
  li.active{
    a{
      color: black;
      border-bottom-color: black;
    }
  }
}

.cd-tabs{

  border: none;

  .panel {
    padding: 15px 0 0;

    p{
      font-size: 12px;
    }
  }

  .shop_attributes tr th, .shop_attributes tr td{
    font-size: 12px;
    min-width: 90px;
  }
}

.cd-sod-option{

  &:hover{
    color: #eee;
    background: #282828;
  }
}

.product.thumbnails-vertical.product-type-variable .summary{
  position: relative;
}

.button-wrapper{
  left: 79px;
  position: absolute;
  bottom: -60px;
  max-width: calc(50% - 15px);
  right: 0;

  #chart-button{
    color: black !important;
  }
}

@media (max-width: 1200px) {

  .button-wrapper{
    left: auto;
    right: 0;
  }
}

@media (max-width: 992px) {

  .button-wrapper{
    max-width: 50%;
  }
}

@media (max-width: 710px) {

  .button-wrapper{
    left:0;
  }
  .nm-widget-panel{
    z-index: 100000;
  }
}

@media (max-width: 550px){
  .woocommerce-tabs .tabs li {
    display: inline-block;
  }

  .cd-hide-on-mobile{
    display: none;
  }

}

//GLOBALS ------------------------------------------

.nm-shop-loop-actions > a{
  font-size: 13px;
}

.products .price{
  font-size: 12px;
}

.nm-shop-loop-details h3 {
  font-size: 12px;
  text-transform: uppercase;
}

.widget .nm-widget-title {
  font-size: 14px;
}

.product .summary .product_title {
  font-size: 16px;
  text-transform: uppercase;
}

.product .summary .price .amount {
  font-size: 18px;
}

.woocommerce-breadcrumb a, .woocommerce-breadcrumb span, .woocommerce-breadcrumb {
  display: inline-block;
  font-size: 10px;
  text-transform: uppercase;
}

.nm-cart-panel-product-title, .shop_table.cart .nm-product-details a, .button, input[type=submit] {
  font-size: 14px;
  text-transform: uppercase;
}

.nm-shop-loop-actions > a{
  text-transform: none;
}

.woocommerce-form__label, .form-row label{
  font-size: 12px;
  text-transform: uppercase;
}

#customer_details h3, #order_review_heading{
  font-size: 18px;
}

.woocommerce-cart .woocommerce > form > h3, .cart-collaterals > h2{
  font-size: 18px;
  text-transform: uppercase;
}

#nm-widget-panel .product-quantity {
  font-size: 12px;
}

.nm-cart-panel-product-title {
  font-size: 12px;
}

#nm-widget-panel .quantity .qty {
  font-size: 14px;
}

#nm-widget-panel .nm-cart-panel-item-price .amount {
  font-size: 14px;
}

.single_variation_wrap{
  .nm-quantity-wrap{
    display: none;
  }
}

.chart-table, .chart-container h3, .chart-content span{
  display: none;
}

.remodal-overlay {
  background: rgba(43, 46, 56, 0.5);
}